#graphique-section {
    margin-top: 100px;
    padding: 0 20px;
  }
  
  #chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    overflow-x: auto;
    border-radius: 20px;
    padding: 20px 0;
  }
  
  #graphique-section h3 {
    margin-top: -25px;
    padding: 0 20px;
  }