
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Arial, sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}


h1 {
    margin: 0;
    font-size: 2.5rem;
}

.subtitle {
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

#map-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

#map {
    width: 100%;
    height: 100%;
    background-color: #f0f8ff;
}

.sections-container {
    position: relative;
    z-index: 2;
}

.step {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 5%;
}

.info-box {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 2rem 2rem 1.5rem 2rem;
    width: 350px;
    height: 550px;
    max-width: 100%;
    transition: all 0.5s ease-out;
    opacity: 0;
    transform: translateY(20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-box.active {
    opacity: 1;
    transform: translateY(0);
}

.intro{
    width: 350px;
    height:350px;       
}

.location-name {
    color: #2c3e50;
    margin-top: 1rem;
    font-size: 1.8rem;
    border-bottom: 3px solid;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.film-title {
    /* font-style: italic; */
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.country {
    font-weight: 600;
    margin-bottom: 0;
}

.tooltip {
    position: absolute;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 100;
}


/* Pour s'assurer que le contenu est par-dessus la carte */
.content-wrapper {
    position: relative;
    z-index: 5;
}
.location-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
   border-radius: 0px 0px 8px 8px;
}
.film-image{
    width: 100%;
    height: 200px;
    object-fit: cover;
   border-radius: 8px 8px 0px 0px;
}
#skipButton {
    /* display: flex;
    flex-direction: column; */
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #ca9ea9; /* Couleur de fond */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: background-color 0.3s ease;
}

#skipButton:hover {
    background-color: #d9a9b5; /* Assombrit au survol */
}
