body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Scale VF", sans-serif;
  overflow-x: hidden;
  background-color: #fffaee; 
  scroll-behavior: smooth;
}

#app {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
}
#skipButton {
  position: absolute; 
  bottom: 170px;
  right: 30px;
  background-color: #ca9ea9;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: background-color 0.3s ease;
}

#skipButton:hover {
  background-color: #d9a9b5;
}

.intro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%; 
  padding-top: 70px;
  padding-bottom: 100px;
  margin: 0 auto; 
  text-align: center; 
}

.intro-text p {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #333;
}
