@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --primary-color: #4a7a6d;
  --secondary-color: #ca9ea9;
  --accent-color: #ff9800;
  --background-color: #fdf7eb;
  --text-color: #333;
  --ghibli-blue: #4a90e2;
  --ghibli-green: #50c878;
  --ghibli-pink: #ff6b6b;
  --ghibli-yellow: #ffd700;
  --font-family-main: "DM Sans", Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: "scale-variable", sans-serif;
  font-weight: 600;
  color: #333;
}
h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 40px;
  color: #666;
  font-weight: 400;
}
h4 {
  font-size: 2rem; 
  color: #333;
  margin-bottom: 1rem;
  line-height: 1.2;
}

body,
html {
  font-family: var(--font-family-main);
  color: var(--text-color);
  background-color: var(--background-color);
  line-height: 1.6;
}

#app {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
}


.intro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
  padding-top: 70px;
  padding-bottom: 100px;
  margin: 0 auto;
  text-align: center;
}



.intro-text p {
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: 400;
  color: #333;
}

/* Styles pour les boutons de navigation entre sections */
.navigation-buttons {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
}

.nav-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: #ca9ea9;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, background-color 0.3s, opacity 0.3s;
}

.nav-button:not(.disabled):hover {
  transform: scale(1.1);
  background-color: #b68c96;
}

.nav-button:active {
  transform: scale(0.95);
}

.nav-button.disabled {
  cursor: default;
  opacity: 0.5;
}

.nav-button svg {
  width: 24px;
  height: 24px;
}

@media (max-width: 768px) {
  .navigation-buttons {
    bottom: 20px;
    right: 20px;
  }
  
  .nav-button {
    width: 40px;
    height: 40px;
  }
}

